.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e0e0e0;
  --primary-color: #187c18;
  --secondary-color: #1bd41b;
  --inverted-primary-color: #042380;
  --inverted-secondary-color: #1c5de9;
  --theme-icon-color: #1a10a5;
}
