.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e0e0e0;

  --primary-color: #3ce93c;
  --secondary-color: #109e10;
  --inveted-primary-color: #042380;
  --inveted-secondary-color: #1c5de9;
}
