.app.light {
  --bg-color: #e0e0e0;
  --inverted-bg-color: #090949;

  --primary-color: #042380;
  --secondary-color: #1c5de9;
  --inverted-primary-color: #187c18;
  --inverted-secondary-color: #1bd41b;

  --theme-icon-color: #deeb31;
}
