.app_light_theme {
  --bg-color: #d5c3f8;
  --inverted-bg-color: #2b155f;
  --primary-color: #042380;
  --secondary-color: #1c5de9;
  --inverted-primary-color: #187c18;
  --inverted-secondary-color: #1bd41b;
  --theme-icon-color: #deeb31;
  --shadow-logo-color: #35233b;
}
