.menu {
  position: relative;
  display: inline-block;
}

.items {
  position: absolute;
  top: 60%;
  right: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  box-shadow: 1px 1px 5px var(--inverted-bg-color);
  min-width: 100px;
  outline: none;
}

.item,
.active {
  background-color: var(--bg-color);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.active {
  background-color: var(--dropdown-active-color);
}

.button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--bg-color);
  transition: 0.3s;

  &:hover {
    /* stylelint-disable-next-line color-function-notation */
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 10%);
  }
}

.clearBtn {
  border: none;
}

.enter,
.leave {
  transition: 0.2s;
}

.enterFrom,
.leaveTo {
  transform: scale(0.9);
  opacity: 0;
}

.enterTo,
.leaveFrom {
  transform: scale(1);
  opacity: 1;
}
